.bottom-navigation{
    position: fixed;
    z-index: 999;
    background: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: -100%;
    left: 0;
    box-shadow: -1px 0 5px -1px #003041;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
   
}
.bottom-navigation .sidebar-icon{
    width: 45px;
    height: 45px;
    color: #000000c7;
    font-size: 24px;
}

.bottom-navigation .active{
    color: #fff !important;
    background: #003041 !important;
    box-shadow: 0 0 10px -2px #f7f7f7 !important;
}



.bottom-navigation .circ-add{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #003041;
    background: #fff;
    color: #003041;
    font-size: 40px;
    font-weight: bolder;
    top: -40%;
    position: relative;
}


.bottom-navigation .log-small{
    /* display: none; */
    width: 90px;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #fff;
    position: inherit;
    top: 100px;
    right: -100%;
    box-shadow: 0 0 10px 2px  #003041;
    border: 1px solid #003041;
    border-style: none;
    transition: 0.3s;
    opacity: 0;

}

.show-log{
    opacity: 1 !important;
    right: 0 !important;
}

 


@media(max-width:663px){
    .bottom-navigation{
        bottom: 0;
        opacity: 1;
        visibility: visible;
    }
}